@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400);
@import url(https://fonts.googleapis.com/css?family=Euphoria+Script);
@import url(https://fonts.googleapis.com/css?family=Jaldi:400,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400);

*{
    margin: 0px;
    padding: 0px;
}

body{
	background:none;
}

.borde{
	width:850px;
	height:20px;
	margin:0 auto;
	overflow:hidden;
	background:#F2F2F2;
}

.contenedor{
	width:850px;
	height:2000px; 
	margin:0 auto;
	overflow:hidden;
	background:none; 
}

nav{
    width:850px;
	height:60px;
	margin:none;
	background-color:none;

}


nav ul{
	list-style:none;
	width:850px;
	height:60px;
}

nav ul li{
	float:left;
	width:170px;
	height:60px;
	background-color:none; 

}

nav ul li a{
	text-decoration:none;
	text-align:center;
	line-height:60px;
	padding:0px;
	display:block;
}

nav h5{

	font-family: 'Comfortaa', cursive;
	font-weight:400;
	font-size:18px;
	color:black;
}

nav h4{

	font-family: 'Comfortaa', cursive;
	font-weight:400;
	font-size:18px;
	color:black;
	background-color:#F2F2F2; 
}


nav ul li a:hover{
	background-color:#F2F2F2; 
}


.titulo{
	width:850px;
	height:142px;
	margin:0 auto;
	margin-top:40px;
	overflow:hidden;
	background:none;
}


h3{
	font-family: 'Comfortaa', cursive;
    font-weight:400;
	font-size:38px; 
    color:#58ACFA;
    text-align:center;
    text-decoration:none;

}


.texto{
    width:840px;
	height:350px;
	margin:0 auto;
	overflow:hidden;
	background:none;
	margin-top:40px;
	padding-top:27px;
	padding-bottom:-27px;
	border-style:solid;
	border-color:#E0ECF8;
}

h2{
	font-family: 'Jaldi', sans-serif;
	font-weight:700;
	font-size:20px;
	color:#58ACFA;
    padding-left:39px;
    padding-right:39px;
    padding-top:13px;
}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:300px;
	font-size:16px;
	color:black;
    padding-left:39px;
    padding-right:39px;
    line-height:20px;	
}

.espacio{
	width:597px;
	height:26px;
	margin:0 auto;
	overflow:hidden;
}

footer{	
	width:850px;
	height:40px;
	margin:0 auto;
	margin-top:30px;
	overflow:hidden;
    background:none;
}

h6{
	font-family:'Euphoria Script', cursive;
	font-weight:300px;
	font-size:16px;
	margin-top:6px;
	color:black;
	text-align:center;
	
}
