@media only screen and (orientation: portrait){
.contenedor{
	width:70%;
	min-width:300px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
	background:none; 
}

nav{
    width:100%;
	height:60px;
	margin:10px auto;
	background-color:#58ACFA;
}


nav ul{
	list-style:none;
	width:100%;
	height:60px;
}

nav ul li{
	float:left;
	width:25%;
	height:60px;
	background-color:none; 

}

nav ul li a{
	text-decoration:none;
	text-align:center;
	line-height:60px;
	color:white;
	padding:0px;
	display:block;
}

nav h4{

	font-family: 'Comfortaa', cursive;
	font-weight:400;
	font-size:10px;
}

nav ul li a:hover{
	background-color:#5882FA; 
}

.izquierda{
	width:100%;
	height:500px;
	float:left;
	background:#58ACFA;
	padding:20px;
	box-sizing:border-box;
	margin-bottom: 20px;
}

.centro{
	width:100%;
	height:500px;
	margin-left:0px;
	float:left;
	padding:20px;
	background:#58ACFA;
	box-sizing:border-box;
	margin-bottom: 20px;
}

.derecha{
	width:100%;
	height:500px;
	margin-left:0px;
	padding:20px;
	float:left;
    background:#58ACFA;
	box-sizing:border-box;
	margin-bottom: 20px;    	
}

.izquierda:hover{
	background-color:#58ACFA; 
}

.centro:hover{
	background-color:#58ACFA; 
}

.derecha:hover{
	background-color:#58ACFA; 
}

 }