@media only screen and (orientation: portrait){
.contenedor{
	width:70%;
	min-width:300px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
	background:none; 
}

nav{
    width:20%;
	height:80px;
    margin-left: 0;
    background: url("iconos/menu.png") no-repeat top left ;
    background-color:#58ACFA;
	left: 0;
	position: absolute;
	top: 143px;
}


nav ul{
	list-style:none;
	width:100%;
	height:80px;
}

nav ul li{
	float:none;
	width:25%;
	height:0px;
	background-color:none;
	opacity: 0; 

}

nav ul li a{
	text-decoration:none;
	text-align:center;
	line-height:80px;
	color:white;
	padding:0px;
	display:block;
	
}

nav h4{

	font-family: 'Comfortaa', cursive;
	font-weight:400;
	font-size:18px;
}

nav ul li a:hover{
	background-color:#5882FA;    
}

.link{
	pointer-events:none;
	cursor: default;
}

.izquierda{
	width:100%;
	height:500px;
	float:left;
	background:#58ACFA;
	padding:20px;
	box-sizing:border-box;
	margin-bottom: 20px;
}

.centro{
	width:100%;
	height:500px;
	margin-left:0px;
	float:left;
	padding:20px;
	background:#58ACFA;
	box-sizing:border-box;
	margin-bottom: 20px;
}

.derecha{
	width:100%;
	height:500px;
	margin-left:0px;
	padding:20px;
	float:left;
    background:#58ACFA;
	box-sizing:border-box;
	margin-bottom: 20px;    	
}

.izquierda:hover{
	background-color:#58ACFA; 
}

.centro:hover{
	background-color:#58ACFA; 
}

.derecha:hover{
	background-color:#58ACFA; 
}

 }