*{
    margin: 0px;
    padding: 0px;
}

#head{
	margin:auto;
	margin-top:30px;
	width:1200px;
    height:300px;
    background-color:none;
    border-style:dashed;
    border-width:1px; 

}


#izquierda{
	margin: auto;
	margin-top:50px;
	margin-left:90px; 
    width:500px;
    height:200px;
    background-color: none;
    float: left;
}


#entrada{
	margin-top:150px;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	color:#2188AE; 
}

#derecha{
	margin: auto;
	margin-top:50px;
	 
    width:500px;
    height:200px;
    background-color:none; 
    float: left;
}

#logo{
	text-align: right;
	font-family: Arial;
	font-size: 80px;
	color:#C13434;
	}

#body{
	margin:auto;
	margin-top:20px;
	width:1200px;
    height:900px;
    background-color:none;
    border-style:dashed;
    border-width:1px; 
}

#footer{
	margin:auto;
	margin-top:20px;
	margin-bottom:30px; 
	width:1200px;
    height:100px;
    background-color:none;
    border-style:dashed;
    border-width:1px;
}

