@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

*{
    margin: 0px;
    padding: 0px;
}

body{
	background:none;
}

.contenedor{
	width:680px;
	height:544px; 
	margin:0 auto;
	overflow:hidden;
	background:none;
	margin-top:50px; 
}

.navegador{
	width:680px;
	height:40px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#F8E0EC;
}

a{
	text-decoration:none;
}

nav ul{
	list-style:none;
	margin:auto;
	padding:0px;
	height:50px;
    width:500px; 
}

nav ul li{
	float:left;

}

nav ul li a{
	text-decoration:none;
	line-height:25px;
	padding:0px;
	display:block;
	width:95px;
    color:#2E9AFE;
    text-align:center;
    margin-top:7px;
}

nav h5{

	font-family: 'Oswald', sans-serif;
	font-weight:500;
	font-size:12px;
    border-style:solid;
    border-color:#2E9AFE;
    border-width:1px;
    margin-left:8px;
}

header{
	width:680px;
	height:120px;
	margin:0 auto;
	overflow:hidden;
	background:none;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	font-size:22px;
    color:#585858;
	text-align:center;
    margin-top:35px;
}

h2{
    font-family: 'Oswald', sans-serif;
	font-weight:500;
	font-size:15px;
    color:#585858;
	text-align:center;
}

hr {
	border: 1px solid #2E9AFE ;
}

#menu{
	width:680px;
	height:374px;
	background-color:none;
}

.izquierda{
	width:218px;
	height:359px;
	margin-top:15px;
	float:left;
	background:#F8E0EC;


}

.centro{
	width:218px;
	height:359px;
	margin-top:15px;
	margin-left:13px;
	float:left;
	background:#F8E0EC;

}

.derecha{
	width:218px;
	height:359px;
	margin-top:15px;
	margin-left:13px;
	float:left;
	background:#F8E0EC;
}

h3{
	font-family: 'Oswald', sans-serif;
	font-weight:700;
    color:#2E9AFE;
    text-align:center;
    text-decoration:none;
    margin-top:20px;
}

p{
	font-family: 'Arimo', sans-serif;
	font-weight:400px;
	font-size:12px;
	padding:20px;
	color:#585858;
	text-align:center;
	
}

span{
	display:block;
	text-align:center;
	margin-top:50px;
}

footer{	
	width:680px;
	height:37px;
	margin:0 auto;
	overflow:hidden;
	margin-top:10px;
    background:none;

}



h6{
	font-family: 'Arimo', sans-serif;
	font-weight:400px;
	font-size:9px;
	padding:20px;
	color:#585858;
	text-align:right;
	
}